@import url(http://fonts.googleapis.com/css?family=Nunito:300,400);

body {
  margin: 0;
  font: {
    family: Avenir, Nunito, Helvetica, Arial, sans-serif;
    size: 16px;
    weight: 300;
  }
  line-height: 1.5;
}

p {
  margin-bottom: 1em;
}

.header {
  display: table;
  position: absolute;
  width: 100%;
  height: 100vh;

  background: {
    color: black;
    image: url('/images/hero.jpg');
    size: cover;
    position: 0% 100%;
  }

  color: white;

  @media (min-width: 960px) {
    font-size: 18px;
  }

  .content {
    display: table-cell;
    vertical-align: middle;
    padding: {
      left: 50px;
      top: 10px;
    }

    @media (max-width: 400px) {
      padding-left: 10px;
    }
  }
  
  p {
    max-width: 30em;
  }
  
  a {
    color: white;
    font-weight: 600;
    text-decoration: none;

    &:hover, &:active {
      text-decoration: underline;
    }
  }

  img.me { 
    width: 140px;
    border-radius: 50%;

    @media (min-width: 960px) {
      width: 160px;
    }

  }

  .social {
    padding: 0;
    padding-top: 10px;

    li {
      display: inline;
      padding-right: 5px;
    }
    
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-size: cover;
      text-indent: -100%;
      opacity: 0.7;
      transition: {
        property: opacity;
        duration: 0.4s;
      }

      &:hover, &:active {
        opacity: 1;
      }
      
      &.twitter { background-image: url(/images/twitter.svg); }
      &.instagram { background-image: url(/images/instagram.svg); }
      &.github { background-image: url(/images/github.svg); }
      &.email { background-image: url(/images/email.svg); }

      @media (min-width: 960px) {
        width: 44px;
        height: 44px;
      }
    }
  }
}
