body {
  margin: 0;
  font: {
    family: Avenir, Helvetica, Arial;
    size: 16px;
  }
  line-height: 1.5;
}

p {
  margin-bottom: 1em;
}

.header {
  display: table;
  position: absolute;
  width: 100%;
  height: 100vh;

  background: {
    image: url('/images/hero.jpg');
    size: cover;
    position: 0% 100%;
  }

  color: white;

  .content {
    display: table-cell;
    vertical-align: middle;
    padding: {
      left: 50px;
      top: 10px;
    }
  }
  
  p {
    max-width: 30em;
  }
  
  a {
    color: white;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  img.me { 
    visibility: hidden;
    width: 120px;
    border-radius: 50%;
  }

  .social {
    padding: 0;
    padding-top: 10px;

    li {
      display: inline;
      padding-right: 5px;
    }
    
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-indent: -100%;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
      
      &.twitter { background-image: url(/images/twitter.svg); }
      &.instagram { background-image: url(/images/instagram.svg); }
      &.github { background-image: url(/images/github.svg); }
      &.email { background-image: url(/images/email.svg); }
    }
  }
}
