---
title: Ben Lenarts
---

- email = 'hello@benlenarts.com'
- twitter_url = 'http://twitter.com/benlenarts'
- instagram_url = 'http://instagram.com/benlenarts'

.header
  .content
    %img.me{src:'/images/headshot.jpg'}
    :markdown 
      Hey there, I'm Ben Lenarts. 
      I create simple bootstrapped software products that aim to save people
      time and trouble. For example, [Beamer](http://beamer-app.com) and
      [Captio](http://captio.co).  I travel and work wherever I'm at.
    %p  
      %a{href:twitter_url} Follow me
      on Twitter,
      %a{href:"mailto:#{email}"} send me a note 
      or check out
      = succeed '.' do
        %a{href:instagram_url} some photos I made
    %ul.social
      %li
        %a.twitter{href:twitter_url} Twitter
      %li
        %a.email{href:"mailto:#{email}"} Email
      %li
        %a.instagram{href:instagram_url} Instagram
      %li
        %a.github{href:'http://github.com/benlenarts'} Github

:javascript
  document.body.onload = function() {
    var classes = document.body.getAttribute('class');
    document.body.setAttribute('class', classes+' loaded');
  }
